.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100 * var(--vh, 1vh));


  &__core {
    width: 100%;
    flex: 0 0 auto;
  }
}
