mixin hero-section()

  section.hero-section&attributes(attributes)
    .width Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima quam, ipsam a itaque excepturi cumque explicabo exercitationem corrupti iure nesciunt sed commodi eum, tempore maiores quibusdam non. Sit, doloribus neque.
