doctype html

-
  let hasHeader = true
  let hasFooter = true
  let pageMods = ''
  let headerMods = ''
  let footerMods = ''
  let currentUrl = ''

include ../components

block variables

html(lang="ru")
  head
    title= `XGulp - ${title}`
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="description" content="")
    //- генерируйте favicon тут - https://realfavicongenerator.net/
    //- в подключение фавикон манифеста обязательно добавьте строчки crossorigin="use-credentials"

    //- link(rel="preload" href="fonts/roboto/Roboto-Regular.woff2" as="font" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css?##hash##")

    script.
      const ASSETS_PATH = './'


  body(class=bodyMods)
    noscript
      .noscript Для полноценной работы сайта, необходимо включить JavaScript!

    //- +preloader()
    +sprite()
    .page(class=pageMods)
      .page__core
        if (hasHeader)
          +header({
            mod: headerMods
            currentUrl: currentUrl
          })

        block main

      if (hasFooter)
        +footer({
          mod: footerMods
        })


    block modals

    script(src="js/libs.js?##hash##" defer)
    script(src="js/main.js?##hash##")
