extends ../components/base/layout

block variables
  - const title = "xGulp"
  - const hasHeader = true
  - const hasFooter = true
  - const pageMods = ""
  - const headerMods = ""
  - const footerMods = ""
  - const currentUrl = "index.html" //- индекс активного пункта меню

block main
  +hero-section()

block modals
  +modal({close: true})(data-modal="modal-feedback").modal--feedback
    +modal-feedback()
