extends ../components/base/layout

block variables
  -
    title = 'Главная'
    currentUrl = 'index.html' //- href активного пункта меню

block main
  +hero-section()

block modals
  +modal({close: true})(data-modal="modal-feedback").modal--feedback
    +modal-feedback()
