extends ../components/base/layout

block variables
  -
    title = 'UI-kit'
    hasFooter = false
    hasHeader = false

block main
  +hero-section()

block modals
  +modal({close: true})(data-modal="modal-feedback").modal--feedback
    +modal-feedback()
