@mixin font-size($size, $lineHeight) {
  font-size: $size;
  line-height: calc($lineHeight / $size);
}

@mixin flex-width($width) {
  width: $width;
  max-width: $width;
  flex: 0 0 $width;
  min-width: 1px;
}

@mixin text-overflow() {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin line-clamp($lines: 3) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

@mixin better-fonts() { // For dark backgrounds
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin btn-reset() {
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  user-select: none;
}


// MEDIA
@mixin media($media) {
  @if $media == fullhd {
    @media only screen and (max-width: $media-fullhd) { @content; }
  }
  @else if $media == fullhd-min {
    @media only screen and (min-width: $media-fullhd + 1) { @content; }
  }
  @else if $media == last {
    @media only screen and (max-width: $media-last) { @content; }
  }
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin nohover {
  @media (hover: hover), screen and (min-width: 0\0) {
    @content;
  }
}

@mixin size($property, $size) {
  #{$property}: size($size);

  @include media(fullhd) {
    #{$property}: $size;
  }
}
