body {
  background-color: $bg;
}

a {
  text-underline-offset: 0.2em;
  color: $color-link;

  &:hover {
    color: $color-link-hover;
  }
}

.width {
  width: 100%;
  max-width: $width + (20px * 2);
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  flex: 0 0 auto;
}

.noscript {
  background: red;
  color: grey;
  text-align: center;
}
