@font-face {
  font-family: 'PT Sans';
  src: url('#{$url-font}/font.eot');
  src: local('PT Sans'),
    local('PTSans-Regular'),
    url('#{$url-font}/font.woff2') format('woff2'),
    url('#{$url-font}/font.woff') format('woff'),
    url('#{$url-font}/font.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
