html {
  overscroll-behavior: none;
}

body {
  background-color: $bg;
  // scrollbar-gutter: stable;
}

a {
  text-underline-offset: 0.2em;
  color: color(link);

  &:hover {
    color: color(link-hover);
  }
}

.swiper-slide {
  &,
  * {
    box-sizing: border-box;
  }
}
