mixin field(props = {})
  -
    const tag = props.nolabel ? 'div' : 'label'
    const inputLabel = props.inputLabel ? props.inputLabel : false
    const inputPlaceholder = props.inputPlaceholder ? props.inputPlaceholder : false
    const inputError = props.inputError ? props.inputError : false
    const inputType = props.inputType ? props.inputType : 'text'
    const inputId = props.inputId ? props.inputId : false

  .field&attributes(attributes)
    #{tag}.field__wrapper
      block
    if inputError
      .field__error!=inputError
