mixin modal(options = {})
  .modal.modal--preload&attributes(attributes)
    .modal__wrapper
      .modal__overlay(data-close-modal)
      .modal__content
        if options.close
          button.modal__close.btn.btn-transparent(data-close-modal, aria-label="Закрыть", type="button")
            +icn('icn-close', 48, 48).modal__close-icn
        .modal__content-in
          if block
            block

